name: p_calendar
description: An event calendar widget
repository: https://github.com/spideythewebhead/p_calendar
version: 0.0.1-dev+1

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

        
    
    
                                      